[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	ll = log --oneline --graph --decorate --all
[user]
	name = Michał Pańczyk
	email = mjpanczyk@gmail.com
